// COMMON
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1500px;
    margin: auto;
}

img {
    width: 100%;
    display: inline-block;
}

.btn_logo {
    width: 20px;
    height: auto;
    margin-right: 5px;
    vertical-align: text-bottom;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.text_center {
    text-align: center;
}

.two_col {

    width: 100%;

    .col {
        width: 50%;
    }

    .col_sx {
        float: left;
    }

    .col_dx {
        float: right;
    }

    &::after {
        @include clearfix;
    }
}

.tree_col {

    width: 100%;

    .col {
        width: calc(100% / 3);
        float: left;
    }

    &::after {
        @include clearfix;
    }
}