// HEADER
header {

    color: $brand_primary_color;

    a {
        font-weight: bold;
    }

    .nav {
        padding-top: 20px;
        border-bottom: 1px solid $brand_primary_color;

        .logo {
            float: left;
        }
    
        .nav_bar {
            float: right;
    
            a {
                color: $brand_primary_color;
            }
        
            li {
                display: inline-block;
                margin-left: 20px;
        
                &.google_sign {
                    border: 1px solid #2b40a0;
                    border-radius: 7px;
                    margin-bottom: 7px;
        
                    a {
                        padding: 10px;
                        color: #2b40a0;
                        display: inline-block;
                    }
                }
            }
        }

        &::after {
            @include clearfix;
        }
    }

    .jumbotron {

        padding: 50px 0;

        .title {

            margin-bottom: 50px;

            h1 {
                font-size: $title1_size;
            }
    
            p {
                font-size: $sub_title_size;
                margin-top: 10px;
            }
        }

        .login_btn {
            @include login_btn;
        }

        &::after {
            @include clearfix;
        }
    }
}