// HEADER
header {

    color: $brand_primary_color;

    .nav {
        padding-top: 20px;
        border-bottom: 1px solid $brand_primary_color;

        .logo {
            float: left;
        }
    
        .nav_bar {
            float: right;
    
            a {
                color: $brand_primary_color;
                font-weight: bold;
            }
        
            li {
                display: inline-block;
                margin: 0 0 10px 20px;
        
                &.google_sign {
        
                    a {
                        color: $blue_btn_color;
                        border: 1px solid $blue_btn_color;
                        border-radius: 7px;
                        padding: 10px;
                        display: inline-block;

                        &:hover {
                            color: white;
                            background-color: $blue_btn_color;
                        }
                    }
                }
            }
        }

        &::after {
            @include clearfix;
        }
    }

    .jumbotron {

        padding: 50px 0;

        .title {

            margin-bottom: 50px;

            h1 {
                font-size: $title1_size;
            }
    
            p {
                font-size: $sub_title_size;
                margin-top: 10px;
            }
        }

        .login {
            @include login_btn;
        }

        &::after {
            @include clearfix;
        }
    }
}