@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}

@mixin my-display-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin login_btn {

    a {
        color: white;
        font-weight: bold;
        background-color: $blue_btn_color;
        border: 1px solid $blue_btn_color;
        border-radius: 7px;                
        padding: 6px 12px;

        &:hover {
            color: $blue_btn_color;
            background-color: white;
        }
    }

    span {
        margin: 0 5px 0 8px;
    }

    .use_email {
        display: block;
        margin: 20px 0;
    }
}