// OLD PALETTE
$brand_primary_color: #57402c;
$brand_secondary_color: #f6e2d5;
$blue_btn_color: #2b40a0;

// NEW PALETTE
// $brand_primary_color: #0414b3;
// $brand_secondary_color: #3e14e9;
// $blue_btn_color: #0414b3;

// FONT SIZE
$title1_size: 45px;
$title2_size: 40px;
$title3_size: 25px;
$sub_title_size: 20px;

// MEDIA QUERY
$breakpoint-smartphone: 820px;